*{font-family: 'Slabo 27px';}
.flex_center{ display: flex; align-content: center;
  justify-content: center;  align-items: center;}
.form{display: flex;flex-direction: column;width: 80%; margin: 10% 8%;}
.input{ padding:3px;margin:2px; font-size: 1.15em;border-radius: 5px;}
.input:nth-last-child(2){min-height: 150px;}
.box_login{ background-color: #96ceb4;  padding: 2vmax;  margin: 1vmax;}
.btn_wrap{ display: flex; align-content: center;align-self: center; }
.btn_wrap .btn{padding:3px;margin: 3px;}
.btn{border: 1px solid #ffa500; padding:5px;border-radius: 5px;font-size: 1.15em;background-color: #444;color: white;font-weight: bold;}
.btn:hover{position: relative; top: -5px;transition: 0.8s;box-shadow: 0px 3px 5px 0 #444;}
.war{color: white; background-color: red;border: none;}
/*------------ LOGIN ---------------*/
.cor1{background-color:	#444444 }
.cor2{background-color:	#ffa500 }
.cor3{background-color:	#e2e8ee}
.cor4{background-color:	#00abff }
.cor5{background-color:	#315e6f }
/*-------------Cores----------------*/
.container{  display: flex;flex-direction: row;}
.selecao{height: 90vh;width: 17vw;  min-width: 200px;}
.lista_post{height: 85%;margin-bottom: 5%;overflow-y: auto;}
.novo_post{height: 10%;border-radius:5px;box-shadow: 1px 0 2px 0 #222;transition: 0.5s;}
.novo_post:hover{position: relative;top: -3px;box-shadow: 0px 3px 2px 0 #222;}
.mini_post{display: flex; flex-direction: column;text-decoration: none;color:black;
  height: 13vh;overflow:hidden;margin-bottom: 3px;padding-bottom: 3px;}
  .mini_post h4{margin:0;text-align: center;}
  .mini_post p{margin:5px 0 0 5px;}
.mini_post:hover{background-color:#CBD0D6;cursor: pointer;}
.conteudo{width: 95%;margin: 0 2%;}
::-webkit-scrollbar {background-color: #555;width: 0.7em;}
::-webkit-scrollbar-thumb{  background-color: #ffa500;border:2px solid #444}
#post_area{  display: flex; flex-wrap: nowrap;}
#post_form{  visibility: hidden;}
form textarea{resize: none}
