<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, inicial-scale=1.0" =>
  </head>
  <body>
    <div class="container colum center">
      <div class="head">

      </div>
      <div class="container scroll">
<div class="menu">
<div class="btn">But達o</div>
<div class="btn">But達o</div>
<div class="btn">But達o</div>
<div class="btn">But達o</div>
</div>
<div class="posts">
  <%var i=post.length-1%>
  <%for(i;i>0;i--){%>
    <div class='box_post'>
      <h3><%=post[i].titulo%></h3>
      <p><%=post[i].conteudo%></p>
    </div>
    <%}%>
    </div>
      </div>
    </div>
  </body>
</html>
