<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<a href="/easycms">Easy CMS!</a>
<form action="/teste" method="get">
  <input type="text" name="valor1" placeholder="valor1">
  <input type="text" name="valor2" placeholder="valor2">
  <input type="submit" value="Enviar">
</form>
  </body>
</html>
